@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(150, 20, 85);
    color: white;
    height: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-family: 'roboto', sans-serif;
}

nav ul{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
}


.gameContainer{
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: absolute;
    left: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'roboto', sans-serif;
    position: relative;
}


.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(241, 200, 241);
}

.gameInfo{
    padding: o 35px;
    font-family: 'roboto', sans-serif;
}

.gameInfo h1{
    font-size: 2rem;
}

.imgbox img{
    width: 0;
    transition :width 1s ease-in-out
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 0 23px;
    padding: 6px 14px;
    background-color: rgb(202, 52, 202);
    border-radius: 6px;
    cursor: pointer;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.info{
    font-size: 20px;
}

.line{
    background-color: rgb(238, 13, 238);
    height: 3px;
    width: 0;
    position: absolute;
    border-radius: 3px;
    transition: width 1s ease-in-out;
}


@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 35px;
    }
    .gameInfo h1{
        font-size: 2rem;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}