@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(150, 20, 85);
    color: white;
    height: 30px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-family: 'roboto', sans-serif;
}

nav ul{
    list-style: none;
}

.gameContainer{
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'roboto', sans-serif;
}


.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(241, 200, 241);
}

.gameInfo{
    padding: o 34px;
    font-family: 'roboto', sans-serif;
}

.imgbox img{
    display: none;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}